// PhotoGallery.scss

// Remove default styles of react-slick
.slick-slider,
.slick-list,
.slick-track,
.slick-slide,
.slick-slide > div {
  margin: 0;
  padding: 0;
}

// Define custom styles for the custom paging images
.slick-dots {
  display: flex;
  justify-content: center;

  // Custom styles for the dots
  li {
    margin: 0 4px;

    button {
      padding: 0;
      border: none;
      background: transparent;

      img {
        width: 64px; // Adjust the width as needed
        height: auto;
        border-radius: 8px; // Adjust the border radius as needed
      }
    }
  }
}

// Custom styles to override React Slick's default styles
.slick-dots li button img {
  width: 32px !important; // Adjust the width as needed
}
