/* Custom CSS */
.side-cart {
    position: absolute;
    width: 20%;
    z-index: 10;
    right: 0;
    transition-property: transform;
    transition-timing-function: ease-in-out;
    transition-duration: 300ms;
  }
  
  /* Custom CSS for when the cart is open */
  .side-cart--open {
    transform: translateX(0);
  }
  
  /* Custom CSS for when the cart is closed */
  .side-cart--closed {
    transform: translateX(100%);
  }
  